@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --main: #ffc60a;
    --secondary: #343333;
}

body {
    position: relative;
    background: #1d1d1d;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    color: white;
    overflow: hidden;
}

body::after {
    content: "";
    position: fixed;
    width: 50%;
    height: 75%;
    right: 0;
    bottom: 0;
    background: url("./assets/backgroundElement.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.025;
    z-index: 1;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 55px;
    max-height: 65px;
    background: #151515;
    z-index: 100;
    position: relative;
}

header > p {
    position: absolute;
    left: 15px;
    color: var(--main);
    font-weight: bold;
    font-size: 25px;
}

main {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: row;
}

/*********************************/
/*********   REACT PART  *********/
/*********************************/

#root {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

/*********************************/
/***********   HEADER  ***********/
/*********************************/

#searchBar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc((100% / 2) - 35%);
    width: 25%;
    height: auto;
    background: var(--secondary);
    padding: 10px;
    border-radius: 20px;
    transition: all 1.5s ease;
}

#searchBarExpand {
    padding: 2%;
    max-height: 40vh;
    overflow-y: scroll;
}

#searchBarExpand p {
    cursor: pointer;
}

#searchBar input {
    color: white;
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

.searchBar-item {
    margin: 10px;
    transition: transform 0.1s ease;
}

.searchBar-item:hover {
    transform: scale(1.02);
}

.searchBar-item > p {
    margin: 0px;
}

.searchBar-item-cmd {
    font-weight: bold;
}

.searchBar-item-detail {
    color: gray;
    font-style: italic;
    font-size: 0.9em;
}

.menu-button {
    position: absolute;
    display: none;
    left: 5%;
    height: 65%;
    aspect-ratio: 1 / 1;
}

.menu-button > svg {
    height: 100%;
    aspect-ratio: 1 / 1;
}

/*********************************/
/**********   SIDE BAR  **********/
/*********************************/

#sidebar {
    width: 15vw;
    min-width: 200px;
    background: #232323;
    border-right: 2px solid black;
    max-height: calc(100vh - 55px);
    overflow-y: auto;
    scrollbar-width: thin;
    flex-shrink: 0;
}

#sidebar h1 {
    display: flex;
    background: var(--secondary);
    border-radius: 15px;
    margin: 15px;
    padding-left: 25px;
    width: auto;
    height: 45px;
    font-size: 15px;
    align-items: center;
}

#sidebar li {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
}

#sidebar li:hover {
    cursor: pointer;
    list-style-type: none;
    color: var(--main);
    transition: all 0.2s ease;
}

p.active,
h1.active,
pre.active {
    color: var(--main);
}

#sidebar pre {
    font-family: "Montserrat", serif;
}

/*********************************/
/************   MAIN  ************/
/*********************************/

#main {
    padding: 15px;
    width: 55%;
    margin: 15px;
    z-index: 2;
}

#main {
    height: calc(100vh - 100px);
    overflow: auto; /* Enable scrolling */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

#main::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#main h1 {
    color: var(--main);
    text-decoration: underline;
}

#main #description {
    border-radius: 15px;
    background: #474747;
    padding: 15px;
    box-shadow: 1.5px 1.5px 5px #474747;
}

#main table {
    border-collapse: collapse;
}

#main table tr td {
    border: 1px solid rgba(73, 73, 73, 0.637);
    padding: 5px;
}

#main table tr {
    background-color: none;
}

#main table tr:nth-child(even) {
    background-color: #2e2e2e;
}

.bash {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bash p {
    padding: 0px 7px 0px 15px;
}

.bash .top {
    height: 35px;
    background-color: #9b9b9b;
}

.bash .bottom {
    background-color: #23232b;
}

.bash div {
    display: flex;
    align-items: center;
}

/* Mobile responsive design */
@media only screen and (max-width: 768px) {
    #sidebar {
        display: none;
        width: 100%;
        height: auto;
    }

    #sidebar.active {
        display: block;
        overflow-y: auto;
        z-index: 2;
    }

    #searchBar {
        width: 65%;
        right: 5%;
    }

    header > p {
        display: none;
    }

    #main {
        width: 85%;
    }

    .menu-button {
        display: block;
    }
}
